# All secrets are stored in ~/.secrets.env (sops-encrypted with age key)
# See: sops decrypt ~/.secrets.env
#
# Required variables:
#   CLAUDE_API_KEY       - Anthropic API key (https://console.anthropic.com/settings/keys)
#   RAINDROP_TOKEN       - Raindrop.io API token (https://app.raindrop.io/settings/integrations)
#   FASTMAIL_USER        - Fastmail email address
#   FASTMAIL_PASSWORD    - Fastmail app password (https://www.fastmail.com/settings/security/devicekeys)
